.Posts {
    padding: 20px;

}

.btnAddPost {
    display: flex;
    justify-content: center;
    color: black;
}

.fieldContainer {
    display: flex;
    justify-content: center;
}

.fieldAddpost {
    color: black;
}

@media screen and (max-width: 720px) {
    .formAddPost {
        display: flex;
        flex-direction: column;
    }
}