.navbar {
    grid-area: navbar;
    background-color: darkturquoise;
}

.items {
    margin: 30px;
}


.item {
    padding: 2px;
}

.item a {

    font-family: "Microsoft YaHei Light";
    color: black;
    text-decoration: none;
}

.item a:hover {
    transition: 1s;
    text-align: center;
    width: 100px;
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
}

a.active {
    color: gold;
}

.friends {
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.friend img {
    width: 50px;
    border-radius: 50%;
}

.friend {
    padding: 5px;
    text-align: center;
}

.friend a {
    text-decoration: none;
    font-family: "Microsoft YaHei Light";
    color: black;
}

.friend a:hover {
    color: gold;
    transition: 0.8s;

}