@import '~antd/dist/antd.css';

.container{
    display: flex;
    justify-content: center;
}
.app-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.app-wrapper-content{
    display: flex;
}
.app-main-content{
    display: flex;
    flex-direction: column;
}